*.[Rr]e[Ss]harper
*[Rr]e[Ss]harper.user
_[Rr]e[Ss]harper.*/

[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Bb]uild/
[Dd]ist/
[Cc]lient[Bb]in/

*.suo
*.sln.cache
*.user
*.vssscc
*.vspscc
*.[Pp]ublish.xml

[Tt]est[Rr]esults/
[Tt]est[Rr]esult.xml
